@import './variables';

.book-image-container{
    background: $book-image-background;
    padding: 1em;
    position: relative;
    img{
        height: 200px;
    }
}

.book-image-container-cart{
    img{
        height: 200px;
    }
}

.book-image-container-cart-small{
    img{
        height: 150px;
    }
}

.book{
    &:hover{
        box-shadow: $box-shadow-general;
    }
}

.book-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 1.25em;
}

.book-details-cart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 1.25em;
    align-self: flex-start;
}

.book-title{
    font-weight: 600 !important;
    margin-bottom: 0em !important;
    text-overflow: ellipsis;
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
}

.out-of-stock{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0.5em 3em;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.9;
}


.book-author{
    font-size: .8em !important;
}

.book-info-cart{
    display: flex;
    cursor: auto !important;
    padding: 0.5em 0em;
    flex-direction: row;
}

.book-info-side-cart{
    display: flex;
    flex-direction: column;
    padding: 0em 0em 2em 0em;
    align-items: flex-start;
}

.cart-book-quantity{
    display: flex;
    justify-content: center;
    width: 20%;
}

.book-cart-quantity{
    display: flex;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
    }
}

.book-price{
    font-weight: 600 !important;
    padding-top: 0.5em;
}

.book-info{
    cursor: auto !important;
    &:hover{
        background-color: $background-color !important;
    }
}

.cart-books{
    padding: 2em 0em;
}

.book-info-cart{
    display: flex;
    cursor: auto !important;
    padding: 0.5em 0em;
    &:hover{
        background-color: $background-color !important;
    }
}

.full-button{
    width: 100% !important;
}

.book-buttons{
    display: flex;
    padding: 0.5em 1.25em 1.5em 1.25em;
    align-items: center;
    justify-content: center;
    .button{
        padding: 0.25em 1em;
    }
}

