.booklist-details{
    display: flex;
    justify-content: space-between;
}

.booklist-details-count{
    display: flex;
    align-items: center;
}

#controlled-open-select{
    padding: 10px 5px !important;
}

.booklist-books{
    display: flex;
    flex-wrap: inherit;
}