@import './variables';

.cart-details{
    padding: 2em 8em;
}

.cart-box{
    border: solid 1px $border-color;
    padding: 0em 3em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1em 2em;
}

.empty-cart{
    font-size: 1.5em;
    align-self: center;
}

.place-order{
    align-self: flex-end;
}