.sign-input-two{
    display: flex;
}

#sign-up{
    width: 50%;
    border: $border-color solid 1px;
    border-radius: 10px;
    margin: 4em auto;
    padding: 2em 0em;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.sign-up-input{
    padding: 0em 0.25em;
}

.sign-input-row{
    width: 80%;
    margin: auto;
}