@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
#sign-in {
  width: 30%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.page-subtitle {
  padding: 0.5em;
  font-size: 1.25em;
}

.sign-input {
  width: 100%;
  margin: 0.5em 0em !important;
}

.card {
  border: #dadce0 solid 1px;
  border-radius: 10px;
  width: 100%;
  margin: auto auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sign-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #446DFF;
  font-weight: 600;
  -ms-flex-item-align: center;
      align-self: center;
}

.sign-links-button {
  color: #ffffff !important;
}

.sign-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.5em;
}

.sign-input-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign-up {
  width: 50%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sign-up-input {
  padding: 0em 0.25em;
}

.sign-input-row {
  width: 80%;
  margin: auto;
}

.dashboard {
  width: 100%;
}

.navbar-parent {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: inherit !important;
  -webkit-box-direction: inherit !important;
      -ms-flex-direction: inherit !important;
          flex-direction: inherit !important;
}

.navbar-search {
  background-color: #ffffff !important;
  width: 60% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.navbar-main {
  width: inherit !important;
}

.navbar-button {
  color: #ffffff !important;
  text-decoration: none;
}

.navbar-button-dark {
  color: #000000 !important;
  text-decoration: none;
}

.search-text {
  color: #000000 !important;
}

.booklist-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em !important;
}

.booklist-details-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#controlled-open-select {
  padding: 10px 5px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.booklist-books {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

.book-image-container {
  background: #F5F5F5;
  padding: 1em;
  position: relative;
}

.book-image-container img {
  height: 150px;
}

.book-image-container-cart img {
  height: 150px;
}

.book-card {
  width: 280px;
}

.book-image-container-cart-small img {
  height: 100px;
}

.book:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.book-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5em 1.25em;
}

.book-details-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5em 1.25em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.book-title {
  font-weight: 600 !important;
  margin-bottom: 0em !important;
  text-overflow: ellipsis;
  max-width: 220px;
  overflow: hidden;
  white-space: nowrap;
}

.out-of-stock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 0.5em 3em;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.9;
}

.book-author {
  font-size: .8em !important;
}

.book-info-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: auto !important;
  padding: 0.5em 0em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.book-info-side-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0em 0em 1em 0em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-book-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
}

.cart-book-quantity input {
  text-align: center !important;
}

.book-cart-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-cart-quantity input::-webkit-outer-spin-button,
.book-cart-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

@media only screen and (max-width: 992px) {
  .book-cart-quantity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.book-cart-quantity-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-price {
  font-weight: 600 !important;
  padding-top: 0.5em;
}

.book-info {
  cursor: auto !important;
}

.book-info:hover {
  background-color: #ffffff !important;
}

.cart-books {
  padding: 2em 0em;
}

.book-info-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: auto !important;
  padding: 0.5em 0em;
}

.book-info-cart:hover {
  background-color: #ffffff !important;
}

.full-button {
  width: 100% !important;
}

.book-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1.25em 1.5em 1.25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-buttons .button {
  padding: 0.25em 1em;
}

.cart-details {
  padding: 0em 8em;
}

@media only screen and (max-width: 992px) {
  .cart-details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0em 0em;
  }
}

.cart-input {
  margin: 1em 0em 0em 0em !important;
}

.cart-radio {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-input-col input::-webkit-outer-spin-button,
.cart-input-col input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

legend.cart-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-input-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart-box {
  border: solid 1px #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1em 2em;
  margin: 2em 0em;
}

.empty-cart {
  font-size: 1.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.place-order {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order {
  width: 100%;
}

.order-title {
  position: absolute;
  top: 130px;
  left: 240px;
}

.order-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-subtitle {
  padding: 2em;
}

.small-row {
  width: 30%;
}

.table-head {
  background: #FAFAFA;
}

.small-body {
  border-right: #E2E2E2 2px solid;
}

body {
  margin: 0em;
  padding: 0em;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  font: "Roboto", "RobotoDraft", "Arial", sans-serif !important;
  color: #000000;
  letter-spacing: 0.01429em;
}

li {
  display: block;
}

.App {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */