@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap");
#sign-in {
  width: 30%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.page-subtitle {
  padding: 0.5em;
  font-size: 1.25em;
}

.sign-input {
  width: 100%;
  margin: 0.5em 0em !important;
}

.card {
  border: #dadce0 solid 1px;
  border-radius: 10px;
  width: 100%;
  margin: auto auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sign-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #446DFF;
  font-weight: 600;
  -ms-flex-item-align: center;
      align-self: center;
}

.sign-links-button {
  color: #ffffff !important;
}

.sign-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.5em;
}

.sign-input-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign-up {
  width: 50%;
  border: #dadce0 solid 1px;
  border-radius: 10px;
  margin: 4em auto;
  padding: 2em 0em;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sign-up-input {
  padding: 0em 0.25em;
}

.sign-input-row {
  width: 80%;
  margin: auto;
}

.dashboard {
  width: 100%;
}

.navbar-parent {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: inherit !important;
  -webkit-box-direction: inherit !important;
      -ms-flex-direction: inherit !important;
          flex-direction: inherit !important;
}

.navbar-search {
  background-color: #ffffff !important;
  width: 60% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.navbar-main {
  width: inherit !important;
}

.cart-button {
  color: #ffffff !important;
}

.search-text {
  color: #000000 !important;
}

.booklist-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em !important;
}

.booklist-details-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#controlled-open-select {
  padding: 10px 5px !important;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.booklist-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

.book-image-container {
  background: #F5F5F5;
  padding: 1em;
}

.book-image-container img {
  height: 200px;
}

.book:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.book-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5em 1.25em;
}

.book-title {
  font-weight: 600 !important;
  margin-bottom: 0em !important;
}

.book-author {
  font-size: .8em !important;
}

.book-price {
  font-weight: 600 !important;
  padding-top: 0.5em;
}

.book-info {
  cursor: auto !important;
}

.book-info:hover {
  background-color: #ffffff !important;
}

.full-button {
  width: 100% !important;
}

.book-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1.25em 1.5em 1.25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-buttons .button {
  padding: 0.25em 1em;
}

body {
  margin: 0em;
  padding: 0em;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  font: "Roboto", "RobotoDraft", "Arial", sans-serif !important;
  color: #000000;
  letter-spacing: 0.01429em;
}

li {
  display: block;
}

.App {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */